/*
// 8. Features
*/

.feather-bg-img {
    background-position: center center;
    background-size: cover;
}
.bg-pink {
  background-color: $pink;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-ciano {
  background-color: $ciano;
}
