
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lezir-primary: mat-palette($mat-indigo);
$lezir-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lezir-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lezir-theme: mat-light-theme((
  color: (
    primary: $lezir-primary,
    accent: $lezir-accent,
    warn: $lezir-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lezir-theme);

/* Template Name: Lezir - Responsive Bootstrap 4 Landing Page Template
   Author: Themesbrand
   Version: 1.0.0
   File Description: Main Css file of the template
*/

/**********************
01.General
02.Menu
03.Components
04.Helper
05.Loader
06.Hero
07 Why Choose Us
08.Features
09.Pricing
10.Contact
11.Footer
12.modal
***********************/

@import '~bootstrap/scss/bootstrap';

@import "variables";
@import "general";
@import "menu";
@import "components";
@import "helper";
@import "loader";
@import "hero";
@import "why-choose-us";
@import "features";
@import "pricing";
@import "contact";
@import "footer";
@import "modal";



@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,600;0,700;0,800;1,400;1,500&family=Quicksand:wght@400;500;600;700&display=swap");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
