<!-- Contact Us Start -->
<section class="section bg-light" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h2 class="title text-muted mb-3">Fale conosco</h2>
          <p class="text-muted font-size-15 mt-5">Deixe seu contato, um de nossos consultores entrará em contato o mais breve possível</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="custom-form mb-5 mb-lg-0">
          <div id="message"></div>
          <form [formGroup]="formContact">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Nome completo*</label>
                  <input id="name" type="text" class="form-control" autocomplete="off" formControlName="name" placeholder="Seu nome...">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">E-mail*</label>
                  <input id="email" type="email" class="form-control" autocomplete="off" formControlName="email" placeholder="Seu e-mail...">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone">Telefone*</label>
                  <input id="phone" type="text" class="form-control" formControlName="phone" autocomplete="off" placeholder="Seu telefone...">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="comments">Mensagem*</label>
                  <textarea id="comments" rows="4" class="form-control" formControlName="message" placeholder="Mensagem..."></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button type="button" (click)="sendMail($event)" class="btn btn-pink">Enviar mensagem <i-feather class="icon-size-15 ml-2 icon"
                    name="send"></i-feather></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="contact-detail text-primary ml-lg-5">
          <p class="">
            <i-feather class="icon-xs icon mr-1" name="mail"></i-feather> : <span>comercial@notifiqueai.com.br</span>
          </p>
          <p class="">
            <i-feather class="icon-xs icon mr-1" name="link"></i-feather> : <span>www.notifiqueai.com.br</span>
          </p>
          <p class="">
            <i-feather class="icon-xs icon mr-1" name="phone-call"></i-feather> : <span>+55 (51) 3083-0698 / +55 (82) 3142-4330</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Us End -->
