<!-- Features Start -->
<section class="section bg-light" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center mb-2">


          <h2 class="title text-muted mb-5">Como funciona o <b>Notifique.ai</b></h2>


          <p class="text-muted font-size-15">
            A plataforma notifique.ai é uma solução integradora de serviços ao <b>WhatsApp</b> que oferece inúmeras
            possibilidades de atendimento automatizado. Através dela, você terá tanto a possibilidade de executar um serviço de envio de notificações
            quanto de mandar um chatbot para um atuoatendimento contínuo, objetivo e inteligente.<br>
            Tudo integrado e sem necessidade de intervenção humana!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="bg-muted">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6 text-right" >
        <a (click)="openDialog()" class="btn-link text-light font-size-35 mr-5"> <b><u> Quer ver mais ? </u></b></a>
      </div>
      <div class="col-sm-6">
        <img src="assets/images/notifiqueme-2.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- Features End -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="login-form mt-4">
      <div class="login-form mt-4">
        <form [formGroup]="formGroup">
          <div class="form-group">
            <label for="lableName">Nome Completo</label>
            <input type="text" class="form-control" id="lableName" formControlName="name" placeholder="Nome completo">
          </div>
          <div class="form-group">
            <label for="labelPhone">Telefone / WhatsApp</label>
            <input type="text" class="form-control" id="labelPhone" formControlName="phone" placeholder="Telefone / WhatsApp">
          </div>
          <div class="form-group">
            <label for="labelCity">Cidade/Estado</label>
            <input type="text" class="form-control" id="labelCity" formControlName="city" placeholder="Cidade / Estado (UF)">
          </div>
          <div class="form-group">
            <label for="labelAddress">Endereço</label>
            <input type="text" class="form-control" id="labelAddress"  formControlName="address" placeholder="Telefone / WhatsApp">
          </div>
          <div class="text-center mt-4">
            <button type="submit" (click)="sendMail($event)" class="btn btn-primary">Enviar <i-feather class="icon-size-15 icon ml-1"
                                                                            name="arrow-right-circle"></i-feather></button>
          </div>
        </form>
      </div>

      <div class="position-relative text-center mt-4">
        <span class="login-border"></span>
        <p class="social-login text-muted font-size-17">Siga-nos nas nossas redes sociais</p>
      </div>
      <div class="text-center">
        <app-social-icons></app-social-icons>
        <p class="text-dark mb-0"> <a href="javascript: void(0);" (click)="modalService.dismissAll()" class="text-dark">Fechar</a></p>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #alerta let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="text-center">
      <h3 class="title mb-4">Contato enviado com sucesso</h3>
    </div>

  </div>
</ng-template>
