<!-- Features Start -->
<section class="section bg-light" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center mb-2">


          <div class="box-geral-direita">
            <div class="box-texto">
              <h2 class="text-muted">Como funciona o <b>Notifique.ai</b></h2>
            </div>
          </div>


          <p class="text-muted font-size-15">
            A plataforma notifique.ai é uma solução integradora de serviços ao <b>WhatsApp</b> que oferece inúmeras
            possibilidades de atendimento automatizado. Através dela, você terá tanto a possibilidade de executar um serviço de envio de notificações
            quanto de mandar um chatbot para um atuoatendimento contínuo, objetivo e inteligente.<br>
            Tudo integrado e sem necessidade de intervenção humana!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-muted">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6 text-right" >
        <a (click)="loginModal(content)" class="btn-link text-light font-size-24 mr-5"> <b><u> Quer ver mais ? </u></b></a>
      </div>
      <div class="col-sm-6">
        <img src="assets/images/notifiqueme-2.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- Features End -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="text-center">
      <h3 class="title mb-4">Melhores detalhes</h3>
      <h4 class="text-uppercase text-primary"><b>Contato</b></h4>
    </div>
    <div class="login-form mt-4">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Seu nome</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Youremail@gmail.com">
        </div>



        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary">Enviar <i-feather class="icon-size-15 icon ml-1"
                                                                         name="arrow-right-circle"></i-feather></button>
        </div>
      </form>
      <div class="position-relative text-center mt-4">
        <span class="login-border"></span>
        <p class="social-login text-muted font-size-17">Social Login</p>
      </div>
      <div class="text-center">
        <ul class="list-inline mt-2 mb-3">
          <li class="list-inline-item mr-3"><a href="javascript: void(0);" class="login-social-icon icon-primary">
            <i-feather class="icon-xs" name="facebook"></i-feather>
          </a></li>
          <li class="list-inline-item mr-3"><a href="javascript: void(0);" class="login-social-icon icon-info">
            <i-feather class="icon-xs" name="twitter"></i-feather>
          </a></li>
          <li class="list-inline-item mr-3"><a href="javascript: void(0);" class="login-social-icon icon-danger">
            <i-feather class="icon-xs" name="instagram"></i-feather>
          </a></li>
          <li class="list-inline-item"><a href="javascript: void(0);" class="login-social-icon icon-success">
            <i-feather class="icon-xs" name="linkedin"></i-feather>
          </a></li>
        </ul>
        <p class="text-muted mb-0">New User? <a href="javascript: void(0);" class="text-primary">Signup</a></p>
      </div>
    </div>
  </div>
</ng-template>
