<!-- Blog start -->
<section class="bg-light" id="blog">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-4">

<Br><Br><Br>
          <div class="box-geral-direita mt-5">
            <div class="box-texto">
              <h2 class="text-muted" style="line-height: 1.2;">
                Mas vamos expandir um pouco mais.
                Vamos esclarecer também o que ele <b>Não é ?</b>
                <br><Br>
              </h2>
            </div>
          </div>


          
        </div>
      </div>
    </div>
  </div>

   <div class="container mw-100 mt-5">
    <div class="row" style="height: 350px;">
      <div class="col-sm-4 bg-salmon">
        <div class="col-sm-12 mt-5 mb-5 px-xl-5 text-center text-white">
            <i class="mdi mdi-account h1 mt-5"></i>
            <p>
              Não somos uma plataforma para campanhas de envios em massa.
            </p>
        </div>
      </div>
      <div class="col-sm-4 bg-light-pink">
        <div class="col-sm-12 mt-5 mb-5 px-xl-5 text-center text-white">
          <i class="mdi mdi-account h1 mt-5"></i>
          <p>
            Não somos uma plataforma de atendimentos simultâneos para operadores humanos.
          </p>
        </div>
      </div>
      <div class="col-sm-4 bg-light-blue">
        <div class="col-sm-12 mt-5 mb-0 px-xl-5 text-center text-white">
          <i class="mdi mdi-account h1 mt-5"></i>
          <p>
            Não recomenamos e não apoiamos atividades de spam no WhatsApp. Nossa ferramenta tem o intuíto de aproximar empresas e consumidores através do uso inteligente desde aplicativo que já se tornou indisponível.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Blog End -->

<section class="bg-light" id="whatsapp" style="background-image: url('assets/images/notifiqueai-4.jpg');background-position: center; ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-4">

          <Br><Br><Br>
          <div class="box-geral-direita mt-5">
            <div class="box-texto">
              <h2 class="text-light" style="line-height: 1.2;">
               Sobre o WhatsApp 
                <br><Br>
              </h2>
            </div>
          </div>
            <p class="text-light">Porque apostar em atendimento via WahtasApp? Veja alguns números:</p>
            <i class="mdi mdi-whatsapp h1 mt-5 text-light"></i>
            <div class="col-8 text-light">
              O WhatsApp é quase onipresente, possuindo mais de 130 milões de usuários somente no Brasil e estando presente em cerca de 98% de todos os smartphones do país;
                <br>
              De todos estes usuários, mais d e90% usam o aplicativo diariamente, com 97% destes fazendo envio de pelo menos uma mensagem po rdia;
              <Br>
              79% dos brasileiros estão dispostos a fazer negócios pelo WhatsApp, sendo que mais de 60%  dos usuário sjá encomendaram algum produto ou serviço pelo app;
                <br>
              A maioria das mensagem recebidas são abertas em um curto prazo, o que significa uma comunicação dinâmica - com possibilidade de envio de imagens vídeo, audios e arquivos - e extremamente eficiente com sua base de clientes.

            </div>
        </div>
      </div>
    </div>
  </div>
</section>
