<!-- Footer Start -->
<section class="bg-light-blue">
  <div class="container ">
    <div class="row py-5">
       <div class="col-sm-12 text-center">
         <h3 class="text-white"> Fale com agente pelo WhatsAPP ou pelo Telefone :)</h3>
       </div>
    </div>
    <div class="align-items-center justify-content-center ">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-3">
            <div class="row align-items-center justify-content-center ">
              <div class="col-sm-4">
                <i class="mdi mdi-whatsapp font-size-60 text-white mt-0"></i>
              </div>
              <div class="col-sm-8 text-white align-text-bottom">
                <h5 class="mt-3">Atendimento</h5>
                Pelo WhatsAPP
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="row">
              <div class="col-sm-4">
                <i class="mdi mdi-phone-outline font-size-60 text-white"></i>
              </div>
              <div class="col-sm-8 text-white align-text-bottom">
                <h5 class="mt-3">Atendimento</h5>
                Pelo WhatsAPP
              </div>
            </div>
          </div>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</section>
<div class="footer-alt py-3 bg-dark">
  <div class="container">
    <div class="row align-items-center justify-content-center ">
      <div class="col col-lg-4">

         <img src="assets/images/logo-aida.png" height="30">

      </div>
      <div class="col col-lg-4 text-right">
        <i class="mdi mdi-facebook text-white font-size-24 mr-2"></i>
        <i class="mdi mdi-instagram text-white font-size-24 mr-2"></i>
        <i class="mdi mdi-youtube text-white font-size-24 mr-2"></i>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
