<!-- Features Start -->
<section class="section bg-light" id="features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <div class="box-geral-direita">
            <div class="box-texto">
              <h2 class="text-muted">Integre com qualquer sistema</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mw-100">
    <div class="row">
      <div class="col-sm-4 bg-pink ">
        <div class="col-sm-12 mt-5 mb-5 px-xl-5 text-center text-white">
            <i class="mdi mdi-account h1 mt-5"></i>
            <p>
            Com anos de experiência e ediversas integrações já realizadas,
            entregamos a você todas as ferramentas e o conhecimento necessário
            para um projeeto de sucesso !
            </p>
        </div>
      </div>
      <div class="col-sm-4 bg-yellow">
        <div class="col-sm-12 mt-5 mb-5 px-xl-5 text-center text-white">
          <i class="mdi mdi-account h1 mt-5"></i>
          <p>
           Processos simplificados e uma interface amigável garantem extrair o máximo
            da ferramenta sem grandes dores de cabeça, permitindo à você concentrar-´se
            no que realmente importa:<br>
            <br>
            <b>A sua operação de atendimento!</b>
          </p>
        </div>
      </div>
      <div class="col-sm-4 bg-ciano">
        <div class="col-sm-12 mt-5 mb-0 px-xl-5 text-center text-white">
          <i class="mdi mdi-account h1 mt-5"></i>
          <p>
            O sistema de atendimento automatizado garante presença interrupta
            no <b>WhatsApp</b>, 24 horas por dia todo dia do semana. Tudo à seu serviço, enviando
            e recebendo comunicações conforme as rotinas e parametrizações estabelecidas.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-muted mt-0" style="background-image: url('assets/images/notifiqueai-3.jpg');background-position: center; ">
 <br><br><br><br><br><br> <br><br><br><br><br><br>
</section>
<!-- Features End -->
